@page
@model AccessDeniedModel
<div class="container" style="margin: 50px auto ">
@{
    ViewData["Title"] = "Thông báo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn Không Phải Là admin.</p>
</header>
</div>