@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div  style="margin: 60px 0 ">
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
