<!-- Cart -->

@model GioHang
<div style="display:flex" class="container">
	<form method="post">



		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Home
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>

				<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
					Men
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>

				<span class="stext-109 cl4">
					Lightweight Jacket
				</span>
			</div>
		</div>


		<!-- Product Detail -->
		<section class="sec-product-detail bg0 p-t-65 p-b-60" style="margin-top: 50px">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-5 p-b-30" style="height: 450px;width: 100px; border: .5px solid gray; overflow: hidden">
						<img src="~/@Model.ProDuct.ImageUrl" alt="IMG-PRODUCT" width="100%" height="100%" style="transform: scale(1.1)">
					</div>

					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h1 class="mtext-105 cl2 js-name-detail p-b-14" style="font-weight: bold; font-size: 30px">
								@Model.ProDuct.Name
							</h1>

							<span class="mtext-106 cl2 text-danger" style="font-size: 20px">
								$@Model.ProDuct.Price
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>


							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>



								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next" style="display: flex; justify-content: space-between; gap: 1rem;">
										<div class="wrap-num-product flex-w">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" >
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input asp-for="Quantity" class="mtext-104 cl3 txt-center num-product" id="box-num" type="number" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" onclick="Tang()">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>

				<div class="bor10 m-t-50 p-t-43 p-b-40">
					<!-- Tab01 -->
					<div class="tab01">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item p-b-10">
								<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
							</li>

							<li class="nav-item p-b-10">
								<a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
							</li>


						</ul>

						<!-- Tab panes -->
						<div class="tab-content p-t-43">
							<!-- - -->
							<div class="tab-pane fade show active" id="description" role="tabpanel">
								<div class="how-pos2 p-lr-15-md">
									<p class="stext-102 cl6">
										Aenean sit amet gravida nisi. Nam fermentum est felis, quis feugiat nunc fringilla sit amet. Ut in blandit ipsum. Quisque luctus dui at ante aliquet, in hendrerit lectus interdum. Morbi elementum sapien rhoncus pretium maximus. Nulla lectus enim, cursus et elementum sed, sodales vitae eros. Ut ex quam, porta consequat interdum in, faucibus eu velit. Quisque rhoncus ex ac libero varius molestie. Aenean tempor sit amet orci nec iaculis. Cras sit amet nulla libero. Curabitur dignissim, nunc nec laoreet consequat, purus nunc porta lacus, vel efficitur tellus augue in ipsum. Cras in arcu sed metus rutrum iaculis. Nulla non tempor erat. Duis in egestas nunc.
									</p>
								</div>
							</div>

							<!-- - -->
							<div class="tab-pane fade" id="information" role="tabpanel">
								<div class="row">
									<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
										<ul class="p-lr-28 p-lr-15-sm">
											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Weight
												</span>

												<span class="stext-102 cl6 size-206">
													0.79 kg
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Dimensions
												</span>

												<span class="stext-102 cl6 size-206">
													110 x 33 x 100 cm
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Materials
												</span>

												<span class="stext-102 cl6 size-206">
													60% cotton
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">


												<span class="stext-102 cl6 size-206">
													Black, Blue, Grey, Green, Red, White
												</span>
											</li>

											<li class="flex-w flex-t p-b-7">
												<span class="stext-102 cl3 size-205">
													Size
												</span>

												<span class="stext-102 cl6 size-206">
													XL, L, M, S
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<!-- - -->

						</div>
					</div>
				</div>
			</div>

			<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
				<span class="stext-107 cl6 p-lr-25">
					SKU: JAK-01
				</span>

				<span class="stext-107 cl6 p-lr-25">
					Categories: Jacket, Men
				</span>
			</div>
		</section>


		<!-- Related Products -->
	</form>
</div>

<script>
	let boxNum = document.getElementById('box-num');
	function Giam() {
		let num = boxNum.value.trim();
		if (num > 0) {
			num--;
			boxNum.value = num;
		}
	}
	function Tang() {
		let num = boxNum.value.trim();
		num++;
		boxNum.value = num;
	}
</script>									